.card {
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  margin: 10px;
  max-width: 600px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
  grid-row: span 4;
  grid-template-rows: subgrid;
}
.imagen {
  max-width: 150px;
  height: auto;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 4px;
  grid-row: span 2;
}
.card-info {
  grid-row: span 4;
  display: grid;
  grid-template-rows: subgrid;
  gap: 30px;
}
.valor-comprar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-precio {
  margin: 0;
  font-weight: bold;
}
.button-buy {
  height: 40px;
  width: 100px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  justify-self: end;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.button-buy:hover {
  background-color: #45a049;
}
