.inicio {
  font-family: "Arial", sans-serif;
  background-color: #dfdeda;
  width: 100%;
  height: 900px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contInicio {
  width: 1348px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 40px;
  column-gap: 60px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagenInicio {
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
