.navbar {
  background-color: rgb(233, 233, 233);
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 18px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav-link-user {
  text-decoration: none;
  color: black;
  padding: 5px 8px 5px 8px;
  background-color: #72a3ca;
  border-radius: 7px;
}
.nav-link {
  text-decoration: none;
  color: black;
  padding: 5px;
}
.nav-link:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 7px;
  padding: 7px;
}
